@use "../sass/flex";

@use "../sass/mixins";

$icon-margin-modifier: 20px;

.input {
  @include mixins.input-container();

  &--sm {
    width: 100px;
  }

  &--md {
    width: 150px;
  }

  &--lg {
    width: 200px;
  }

  &--xlg {
    width: 250px;
  }

  &--xlg2 {
    width: 300px;
  }

  &--xlg3 {
    width: 350px;
  }

  &__input {
    @include mixins.input-base();
    height: 38px;
    width: 100%;

    &--with-icon {
      &--right {
        padding-right: calc($icon-margin-modifier + 5px);
      }

      &--left {
        padding-left: calc($icon-margin-modifier + 5px);
      }
    }
  }

  &__label {
    @include mixins.input-label();
  }

  &__error-message {
    @include mixins.input-error();
  }

  &__icon {
    @extend %flex--align-center;

    &--right {
      justify-content: flex-end;
      margin-left: -$icon-margin-modifier;
    }

    &--left {
      justify-content: flex-start;
      margin-right: -$icon-margin-modifier;
    }
  }
}
