$primary-blue: #7599e6;
$light-blue: #a0c2ee;
$extra-light-blue: #d9dcef;

$black: #000000;
$dark-gray: #afafaf;
$gray: #dfdfdf;
$light-gray: #f5f5f5;

$white: #ffffff;

$green: #54a269;
$dark-green: #5ba36f;
$red: #ed635e;

$yellow: #f0b542;
