@use "../sass/colors";
@use "../sass/flex";
@use "../sass/mixins";

@mixin badge-size($fontSize, $width, $height) {
  font-size: $fontSize;
  width: $width;
  height: $height;
}

@mixin badge-variant($primaryColor, $secondaryColor) {
  background-color: $primaryColor;
  color: $secondaryColor;
  border: $primaryColor 2px;
}

.badge {
  @include flex.flex--align-center--justify-center;
  font-weight: 500;
  border-radius: 8px;

  &--xlg {
    @include badge-size(14px, 170px, 35px);
  }

  &--lg {
    @include badge-size(12px, 140px, 30px);
  }

  &--md {
    @include badge-size(10px, 110px, 25px);
  }

  &--sm {
    @include badge-size(8px, 80px, 20px);
  }

  &--fit-content {
    @include badge-size(10px, fit-content, fit-content);
  }

  &--primary {
    @include badge-variant(colors.$primary-blue, colors.$white);
  }

  &--success {
    @include badge-variant(colors.$green, colors.$white);
  }

  &--danger {
    @include badge-variant(colors.$red, colors.$white);
  }

  &--neutral {
    @include badge-variant(colors.$dark-gray, colors.$white);
  }

  &--warning {
    @include badge-variant(colors.$yellow, colors.$white);
  }

  &__text {
    @include mixins.text-overflow-ellipsis();
    padding: 1em;
  }
}
