.heading {
  color: var(--rq-color-accent-text);
  text-align: center;
  line-height: 34px;
  margin: 0;

  &--h1 {
    font-size: var(--rq-font-size-md);
    font-weight: var(--rq-font-weight-bold);
  }
  &--h2 {
    font-size: var(--rq-font-size-xs);
    font-weight: var(--rq-font-weight-semibold);
  }
  &--h3 {
    font-size: var(--rq-font-size-xs);
    font-weight: var(--rq-font-weight-light);
  }
}
