@use "../sass/flex";

.loading-overlay {
  @include flex.flex--justify-center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all var(--rq-duration-base) var(--rq-easing-standard);

  &--hidden {
    width: 100%;
    height: 0%;
    visibility: collapse;
  }

  &--revealed {
    backdrop-filter: blur(1px);
    background-color: var(--rq-color-overlay);
  }

  &__content {
    @include flex.flex--column--align-center--justify-center;

    &__message {
      font-size: var(--rq-font-size-3xl);
      font-weight: var(--rq-font-weight-semibold);
      color: var(--rq-color-accent-text);
      padding: var(--rq-space-8);
    }
  }
}
