@use "../sass/flex";

.search-input {
  @include flex.flex--align-center;

  &__content {
    &__icon {
      @include flex.flex--align-center;
      position: absolute;
      padding-left: var(--rq-space-3);
      color: var(--rq-color-muted);
    }
  }

  .input__input {
    padding-left: var(--rq-space-10);
    color: var(--rq-color-accent-text);
  }
}
