@import "../colors.scss";
@import "../common.scss";
@import "../mixins.scss";

@mixin badge-size($fontSize, $width, $height) {
    font-size: $fontSize;
    width: $width;
    height: $height;
}

@mixin badge-variant($primaryColor, $secondaryColor) {
    background-color: $primaryColor;
    color: $secondaryColor;
    border: $primaryColor 2px;
}

.badge {
    @extend .flex--align-center--justify-center;
    font-weight: 500;
    border-radius: 8px;

    &--xlg {
        @include badge-size(14px, 170px, 35px);
    }

    &--lg {
        @include badge-size(12px, 140px, 30px);
    }

    &--md {
        @include badge-size(10px, 110px, 25px);
    }

    &--sm {
        @include badge-size(8px, 80px, 20px);
    }

    &--primary {
        @include badge-variant($primary-blue, $white);
    }

    &--success {
        @include badge-variant($green, $white);
    }

    &--danger {
        @include badge-variant($red, $white);
    }

    &--neutral {
        @include badge-variant($dark-gray, $white);
    }

    &--warning {
        @include badge-variant($yellow, $white);
    }

    &__text {
        @include text-overflow-elipsis();
        padding: 1em;
    }
}
