@import "../common.scss";
@import "../colors.scss";

$loading-overlay-transition-time: 0.3s;

.loading-overlay {
    @extend .flex--justify-center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &--hidden {
        width: 100%;
        height: 0%;
        visibility: collapse;
        transition: all $loading-overlay-transition-time;
    }

    &--revealed {
        backdrop-filter: blur(1px);
        background-color: rgba(148, 141, 141, 0.397);
        transition: all $loading-overlay-transition-time;
    }

    &__content {
        @extend .flex--column--align-center--justify-center;

        &__message {
            font-size: 24px;
            font-weight: 600;
            color: $primary-blue;
            padding: 30px;
        }
    }
}
